@use 'src/assets/styles/theme';
.meal-showcase-wrapper {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  &.meal-button {
    transition: background-color 0.5s ease;
    cursor: pointer;
    background-color: theme.$color-secondary;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;

    &:hover {
      background-color: theme.$color-theme;
    }
  }
}

.meal-card-item {
  margin: 0 0.5rem;

  &.animated {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
}



