<div class="container mt-3 meal-detail-wrapper">
  <div class="row">
    <div class="col-4">
      <ng-container [ngTemplateOutlet]="tableTemplate"></ng-container>
    </div>
    <div class="col-8 text-left">
      <ng-container [ngTemplateOutlet]="historyList"></ng-container>
    </div>
  </div>
</div>

<ng-template #historyList>

  <app-history-meals [historyMeals]="(historyMeals$ | async) ?? []"></app-history-meals>
</ng-template>

<ng-template #tableTemplate>

  <app-meal-detail-table [mealDetailModel]="mealDetailModel"></app-meal-detail-table>
</ng-template>
